discord.py
discord-ext-voice-recv @ git+https://github.com/imayhaveborkedit/discord-ext-voice-recv.git
python-dotenv
aiohttp
PyNaCl>=1.5.0
python-telegram-bot
edge-tts
SpeechRecognition
pydub
firebase-admin
google-genai
